# Ambientes virtuais
venv/
.env
__pycache__/
*.pyc
*.pyo

# Logs e dados locais
data/
*.log

# Relatórios gerados
reports/

# Arquivos temporários de sistema
.DS_Store
Thumbs.db

# Arquivos do VSCode (opcional)
.vscode/

# Ignorar arquivos de apontamento
/src/files/usuarios.csv
/src/files/registros.csv
/src/logs/logs.txt